{{ if blog_post }}
    {{ insert blog_post.html}}
{{ end }}

<!-- CONTENT ENDS HERE -->
    </div>  <!-- div: content container -->

    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}

    {{ if comment_section }}
        <script src="https://utteranc.es/client.js"
            repo="theogf/bayesiantribulations"
            issue-term="title"
            label="[Comments]"
            theme="github-light"
            crossorigin="anonymous"
            async>
        </script>
    {{ end }}
  </body>
</html>
